@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}
#wrapper{
    width: 100%;
    height: 100vh;
}
#header{
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu {
    list-style: none;
    display: flex;
}

#menu .item{
    margin: 0px 25px;
}

#menu .item a {
    color: #626a67;
    text-decoration: none;
}

#actions {
    display: flex;
}

#action .item{
    margin-left: 22px;

}




#banner{
    width: 100%;
    background-image: url("https://github.com/hqteamobi/web_shop_ban_hang/blob/main/assets/banner.png?raw=true");
    height: 463px;
    margin-top:40px ;
    display: flex;
    padding:0px 133px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
#to-bottom{
    position: absolute;
    color: red;
    bottom: 70px;
    left: 50%;
    transform: translateX(-90%);
}

#w-products{
    width: -10px;
    height: 50px;
    padding-top: 116px;
    padding-bottom: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

   #w-products h2 {
   margin-bottom: 76px;
   font-size: 32px;
   color: #626a67;
   }

#list-products .item{
    margin: 0 10px;
    width: 260px;
    height: 320px;
    background: #362f2f;
    border-radius: 10px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list-products .item .thumbnail {
    display: block;
    margin: 50px auto;
    width: 200px;
    margin-top: 17px;
}

#list-products .item .star{
    display: flex;
    margin:0px auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}
 #list-products{
    display: flex;
    gap: 50px;
 }

 #list-products .item .name{
    color: white;
 }
 
 #list-products .item .desc{
    color: grey;
 }

 #list-products .item .price{
    color: red;
 }